body {
    font-family: sans-serif;
}
header {
    background-color: rgb(45, 153, 172);
}
a {
    text-decoration: antiquewhite;
    color: black;
    font-size: 25px;
    background: rgb(255, 165, 46);
    border-radius: 10px;
    padding: 2px;
    
}
ul{
   list-style: url("https://learn.algoritmika.org/uploads/2021/01/Arrow%201_0_1611261359.svg"); 
}
h1 {
    text-align: center;
}
h2 {
    color: rgb(230, 54, 0);
    font-size: 20px;
}
h3 {
    color: rgb(230, 54, 0);
    font-size: 20px;
}
h4 {
    color: rgb(230, 54, 0);
    font-size: 20px;
}
footer {
   background-color:  rgb(45, 153, 172);
   margin: 10px;
   padding:7px;
   color: white;
}
footer {
   background-color:  rgb(45, 153, 172);
   margin: 10px;
   padding:7px;
   color: white;
}

